<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h2 class="text-center">Welcome to the Hotel Reservation Portal!</h2>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <button [routerLink]="['/new']" class="btn btn-success w-100"> Create a new reservation</button>
                </div>
                <div class="col-sm-6">
                    <button [routerLink]="['/list']" class="btn btn-primary w-100"> View all reservations</button>
                </div>
            </div>
        </div>
    </div>
</div>
